.all-prince-view {

    .td-image-and-text:not(:first-child) {
        margin-top: 4px;
    }

}
.td-image-and-text {
    .icon-information {
        margin-left: auto;
        margin-right: 10px;
    }
}