.all-prince-view {

    .td-image-and-text:not(:first-child) {
        margin-top: 4px;
    }

}
.td-image-and-text {
    .person-popup-button {
        margin-left: auto;
        margin-right: 10px;
    }
}

.popup-person-line {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .thumbail-container {
        margin-right: 6px;
    }
}