@import "./const.scss";
@import "./icon.scss";
@import "./modal.scss";
@import "./table.scss";
@import "./header-footer.scss";
@import "./page/all-prince-view.scss";
@import "./component.scss";
$mainYellow: #ffda45;
$thinYellow: #ffea97;

*, *:before {
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Japanese", "\\30D2ラギノ角ゴProN W3", メイリオ, "MS PGothic";
    color: #333;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
    color: #448ac1;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: #7b3fb9;
    }
}

.main-content {
    margin-top: 10px;
    padding: 0 20px;
}

.main-tab-container {
    display: flex;
    padding-left: 4px;
    .main-tab {
        color: #333;
        font-size: 13px;
        display: block;
        cursor: pointer;
        border-top: 4px solid #d6c16e;
        border-radius: 3px 3px 0 0;
        margin-right: 6px;
        background: #fff;
        padding: 3px 6px;
        &:not(.main-tab-active) {
            box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, .12) inset;
        }
        &.main-tab-active {
            border-top-color: $mainYellow;
            background: white;
        }
        &:hover:not(.main-tab-active) {
            border-top-color: $mainYellow;
            background: linear-gradient(#fff, #fff9df);
        }
    }
}

.tab-content {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 20px 16px;
    margin-bottom: 40px;
}

.content-h1 {
    margin: 14px 0 16px;
    padding-left: 12px;
    padding-bottom: 4px;
    border-color: #ffda45;
    border-style: solid;
    border-width: 0 0 1px 8px;
}

.content-h2 {
    margin: 38px 0 12px;
    padding-left: 12px;
    font-size: 26px;
    border-left: 6px solid #ffda45;
    font-weight: 500;
}

.content-meta-data {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
    .icon-common {
        margin-right: 2px;
    }
    .page-views-container,
    .updated-container {
        margin-right: 8px;
        display: flex;
        align-items: center;
        color: #444444;
    }
}

.tab-content {
    font-size: 12px;
    .table-mini-image {
        width: 40px;
    }
}

.thumbail-container {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 50px;
    &.dead-image-cover {
        position: relative;
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: -21%;
            width: 140%;
            height: 4px;
            margin-top: -2px;
            background: rgba(255, 0, 0, 0.5);
            transform: rotate(45deg);
        }
        &:after {
            display: block;
            content: "";
            position: absolute;
            top: -20%;
            left: 48%;
            padding: 0;
            width: 4px;
            height: 140%;
            background: rgba(255, 0, 0, 0.5);
            transform: rotate(45deg);
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}