.list-view-table {
    background: white;
    .list-view-th-label-container {
        display: flex;
        align-items: center;
        .icon-sort {
            fill: gray;
            margin-left: 4px;
            cursor: pointer;
            &.sort-active {
                fill: #2196f3;
            }
        }
    }
    .td-center {
        text-align: center;
    }
    .td-image-and-text {
        display: flex;
        align-items: center;
        .thumbail-container {
            margin-right: 4px;
        }
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 16px;
    td,
    th {
        padding: 5px 5px;
    }
    tr {
        border-top: 1px solid #dadada;
    }
    tbody tr:last-child {
        border-bottom: 1px solid #dadada;
    }
    thead tr {
        border-bottom: 1px solid #b3b3b3;
        border-top: 1px solid #b3b3b3;
    }
}